@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {
  --border-color: #6ac614;
  --fill-color: #6af895;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #6ac614;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
